doctype html
html
  head
    title Snapt! - Webshot made easy
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,700', rel='stylesheet' type='text/css')
  body
    div.overlay
      .loader
    div#main-container
      block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js', type='text/javascript')
    script(src='javascripts/main.js', type='text/javascript')
